<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    Cart:
    <button onClick="createEmptyCart()" type="button">Clear Cart</button>
    <ul id="cartContent">
    </ul>
</header>