<div>
    <h1>Products</h1>
    <strong>Listing products from {{page | times: size}} to {{page | times: size | plus: size}}</strong>
    {% unless page == 0 %}
    <a href="/products?page={{page | minus: 1}}&size={{size}}">Previous</a>
    {% endunless %}
    <a href="/products?page={{page | plus: 1}}&size={{size}}">Next</a>
    <hr>
    {% for product in products %}
        <h2>{{product.name}}</h2>
        {% for variant in product.variants %}
            <h3>{{variant.name}}</h3>
            <p>Price: {{variant.price[0].price}} {{variant.price[0].currency}}</p>
            {% for sortiment in variant.sortiments %}
                <button type="button" onClick="addToCart({{sortiment.id}})">Add Size {{sortiment.size}} to Cart</button>
            {%endfor%}
        {%endfor%}
        <hr>
    {%endfor%}
</div>