<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <title>{{ title}}</title>
  <script>
    //these should be partly in JS SDK
    function fillHeaderWithCart(cart) {
      let element = document.getElementById("cartContent");
      element.innerHTML = "";
      for(let i = 0; i < cart.items.length; i++) {
        let node = document.createElement("LI");
        let textNode = document.createTextNode(cart.items[i].product.name + " " + cart.items[i].variant.name + " " +cart.items[i].quantity + " " +cart.items[i].size.name + " = " + cart.items[i].total);
        node.appendChild(textNode);
        element.appendChild(node);
      }
    }

    function createEmptyCart() {
        return fetch("https://api.dev.monotik.straxus.hu/api/channel/carts/",
            {
              method: "POST",
              mode: 'cors',
              headers: {
                'x-monotik-country-code': 'HU'
              },
            })
        .then(res => {
                res.json().then(cart => {
                  localStorage.setItem("cart", JSON.stringify(cart));
                  fillHeaderWithCart(cart);
                });
            });
    }

    function fetchAndSetCart(token) {
      console.log("fetchAndSetCart");
        return fetch("https://api.dev.monotik.straxus.hu/api/channel/carts/"+token, {
          headers: {
            'x-monotik-country-code': 'HU'
          }
        })
        .then(res => {
            res.json().then(cart => {
              console.log("cart", cart);
              localStorage.setItem("cart", JSON.stringify(cart));
              fillHeaderWithCart(cart);
            });
        })
    }

    function addToCart(product) {
      console.log("addToCart");
        const cartJSON = localStorage.getItem("cart");
        const cart = cartJSON ? JSON.parse(cartJSON) : null;
        const data = {
          items: [
                {
                    product,
                    quantity: 1
                }
            ]
        }

        return fetch("https://api.dev.monotik.straxus.hu/api/channel/carts/"+cart.tokenValue+"/multiple-items/",
            {
              method: "POST",
              mode: 'cors',
              body: JSON.stringify(data),
              headers: {
                'Content-Type': 'application/json',
                'x-monotik-country-code': 'HU'
              },
            })
        .then(res => {
                res.json().then(cart => {
                  console.log(res, cart);
                  localStorage.setItem("cart", JSON.stringify(cart));
                  fillHeaderWithCart(cart);
                });
            });
    }

    window.onload = (event) => {
      console.log("onLoad");
        const cart = localStorage.getItem("cart");
        if (!!cart) {
            const parsedCart = JSON.parse(cart);
            fillHeaderWithCart(parsedCart);
            fetchAndSetCart(parsedCart.tokenValue);
        } else {
            createEmptyCart();
          console.log("no cart token");
        }
    }
  </script>
</head>

<body class="template-{{ request.page_type | handle }}">
  {% render 'header' %}
  
  {{ content }}
  
  {% render 'footer' %}
</body>
</html>
